@media only screen and(max-width:768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .image-list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    .image-list-item-inner {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .image-list-item-inner-day-month {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
      }
      img {
        border-radius: 50%;
        height: 10rem !important;
      }
    }
    button {
      margin: 0.5rem 0;
    }
  }
  .header {
    flex-direction: column;
    .sort-btns {
      padding-top: 1rem;
    }
  }
  .grid-to-list {
    display: flex;

    align-items: center;
    .image-grid-item {
      margin-bottom: 1rem;
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-between;
      width: 100%;
      .image-grid-item-image-author {
        width: 100% !important;
      }
      .image-grid-item-width-height-wrap {
        display: flex;
        align-items: flex-start !important;
        flex-direction: column;
        width: 100% !important;
      }
      a {
        img {
          width: 100%;
          height: 100% !important;

          object-fit: contain;
        }
      }
    }
  }
}
@media only screen and(max-width:500px) {
  .image-grid {
    grid-template-columns: 1fr !important;
  }
}
